.brand {
    display: flex;
    align-items: center;
  }
  .brand:hover .brand-img {
    transform: rotate(-25deg);
  }
  .brand-img {
    width: 1.8rem;
    height: 1.8rem;
    transition: var(--transition);
  }
  .brand-title {
    font-size: 1.25rem;
    line-height: 1.8;
    color: var(--heading-color);
    font-weight: 700;
  }