
.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 var(--container-padding);
    position: relative
  }
  
  .container-fluid {
    margin: 0 auto;
    padding: 0 var(--container-padding);
  }
  .navbar-container {
    width: 100%;
  }
  