.text-sm {
    font-size: 1rem;
    line-height: calc(24 / 16);
    color: var(--body-color);
    
  }
  
  .text-md {
    font-size: 1rem;
    line-height: calc(30 / 16);
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: calc(28 / 18);
    font-weight: 300;
   
  }

  .text-xl {
    font-size: 1.25rem;
    line-height: calc(30 / 20);
  }